<h1>Gérer les espèces</h1>

<p class="text-right">
    <%= link_to 'Ajouter une espèce', {action: :new}, class: 'btn btn-success' %>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Slug</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @species.each do |species| %>
        <tr>
            <td><%= species.name %></td>
            <td><%= species.slug %></td>
            <td>
                <%= link_to 'Editer', [:edit, :admin, species], class: 'btn btn-primary' %>
                <%= link_to 'Supprimer', [:admin, species], class: 'btn btn-danger', data: {method: :delete, confirm: "Voulez-vous supprimer l'espèce ?"} %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>
