<% if @user.errors.any? %>
<div class="alert alert-danger">
    <ul>
        <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="panel panel-default">
    <div class="panel-heading">
        Modifier mon mot de passe
    </div>
    <div class="panel-body">
        <%= form_for @user, url: password_path(@user.id) html: {class: 'form-horizontal'} do |f| %>

       <%= f.hidden_field :recover_password %>

        <div class="form-group">
            <%= f.label :password, "Mot de passe", class: 'col-md-4 control-label' %>
            <div class="col-md-6">
                <%= f.password_field :password, class: 'form-control' %>
            </div>
        </div>

        <div class="form-group">
            <%= f.label :password, "Confirmer le mot de passe", class: 'col-md-4 control-label' %>
            <div class="col-md-6">
                <%= f.password_field :password_confirmation, class: 'form-control' %>
            </div>
        </div>

        <div class="form-group">
             <div class="col-md-6 col-md-offset-4">
                 <button type="submit" class="btn btn-primary">
                        Modifier
                </button>
            </div>
        </div>
    <% end %>
    </div>
</div>
