<div class="page-header">
    <h1><%= @post.name %></h1>
</div>


<div class="text-center">
    <%= image_tag @post.image_url, width: '100%' %>
</div>


<div class="row">
    <div class="col-md-8">
       <h2>Description</h2>
        <%= @post.content %>
    </div>
    <div class="col-md-4">
      <h2>Présent sur cette photo</h2>
       <ul class="list-group">
            <% @post.pets.each do |pet| %>
            <li class="list-group-item">
                <%= link_to pet do %>
                    <h4 clas="list-group-item-heading"><%= pet.name %></h4>
                    <p class="list-group-item-text"><%= pet.age.to_s + '' + 'an'.pluralize(pet.age) %></p>
                <% end %>
            </li>
            <% end %>
        </ul>
    </div>
</div>
